body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: #f0f2f5;
    align-items: center;
    justify-content: center;
font-family: Arial, Helvetica, sans-serif;

}
.continer{
    margin: 20vh 20%;
    display: flex;
    height: 360px;
}

.child{
    flex: 2;

    
}
input{
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 255, 0.31);
    font-size: 16px ;
}.btn1{
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    background: #1877f2;
    width: 100%;
    border: 0;
    border-radius: 10px;
    color: white;

    margin-bottom: 10px;

}
.btn2{
    width: 70%;
    background-color: #42b72a;
    padding: 10px 0px;
    color: white;
    border-radius: 10px;
    border: 0;
    font-weight: 500;
    font-size: 18px;
    margin: 10px;
}
a{
    margin: 10px;
}
img{
    width: 300px;
}
.child:nth-child(2){
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.077);
    padding: 2%;
    flex: 1;
    border-radius: 10px;
}